In [264]:
import pandas as pd

df = pd.read_csv("feed-views.log", sep='\t',  header=None, names=["datetime", "user"], skiprows=[2,3], skipfooter=2, engine='python')
df.set_index("datetime", inplace=True)
print(df.head())
print(df.tail())

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana
                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [265]:
#convert indexes to datetime65
df.index = pd.to_datetime(df["user"].index)
df.index

DatetimeIndex(['2020-04-17 12:01:08.463179', '2020-04-17 12:01:23.743946',
               '2020-04-17 12:35:52.735016', '2020-04-17 12:36:21.401412',
               '2020-04-17 12:36:22.023355', '2020-04-17 13:55:19.129243',
               '2020-04-17 15:00:33.138530', '2020-04-17 15:14:09.581054',
               '2020-04-17 22:46:26.785035', '2020-04-18 00:30:45.051569',
               ...
               '2020-05-21 01:46:08.730098', '2020-05-21 01:57:58.652380',
               '2020-05-21 12:33:32.521770', '2020-05-21 12:33:32.812265',
               '2020-05-21 16:28:28.217529', '2020-05-21 16:36:40.915488',
               '2020-05-21 17:49:36.429237', '2020-05-21 18:45:20.441142',
               '2020-05-21 23:03:06.457819', '2020-05-21 23:23:49.995349'],
              dtype='datetime64[ns]', name='datetime', length=1072, freq=None)

In [266]:
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['hour'] = df.index.hour
df['minute'] = df.index.minute
df['second'] = df.index.second
df

                                 user  year  month  day  hour  minute  second
datetime
2020-04-17 12:01:08.463179      artem  2020      4   17    12       1       8
2020-04-17 12:01:23.743946      artem  2020      4   17    12       1      23
2020-04-17 12:35:52.735016      artem  2020      4   17    12      35      52
2020-04-17 12:36:21.401412     oksana  2020      4   17    12      36      21
2020-04-17 12:36:22.023355     oksana  2020      4   17    12      36      22
...                               ...   ...    ...  ...   ...     ...     ...
2020-05-21 16:36:40.915488  ekaterina  2020      5   21    16      36      40
2020-05-21 17:49:36.429237      maxim  2020      5   21    17      49      36
2020-05-21 18:45:20.441142  valentina  2020      5   21    18      45      20
2020-05-21 23:03:06.457819      maxim  2020      5   21    23       3       6
2020-05-21 23:23:49.995349      pavel  2020      5   21    23      23      49

[1072 rows x 7 columns]

In [267]:
# night 00:00 03:59
# early morning 04:00 06:59
# morning 07:00 10:59
# afternoon 11:00 16:59
# early evening 17:00 19:59
# evening 20:00 23:59
bins = [0, 4, 7, 11, 17, 20, 24]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
df['daytime'] = pd.cut(df.hour, bins, labels=labels, right=False)
df

,user,year,month,day,hour,minute,second,daytime
datetime,,,,,,,,
2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
2020-04-17 12:36:21.401412,oksana,2020,4,17,12,36,21,afternoon
2020-04-17 12:36:22.023355,oksana,2020,4,17,12,36,22,afternoon
...,...,...,...,...,...,...,...,...
2020-05-21 16:36:40.915488,ekaterina,2020,5,21,16,36,40,afternoon
2020-05-21 17:49:36.429237,maxim,2020,5,21,17,49,36,early evening
2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening

In [268]:
df.set_index("user", inplace=True)
df

           year  month  day  hour  minute  second        daytime
user
artem      2020      4   17    12       1       8      afternoon
artem      2020      4   17    12       1      23      afternoon
artem      2020      4   17    12      35      52      afternoon
oksana     2020      4   17    12      36      21      afternoon
oksana     2020      4   17    12      36      22      afternoon
...         ...    ...  ...   ...     ...     ...            ...
ekaterina  2020      5   21    16      36      40      afternoon
maxim      2020      5   21    17      49      36  early evening
valentina  2020      5   21    18      45      20  early evening
maxim      2020      5   21    23       3       6        evening
pavel      2020      5   21    23      23      49        evening

[1072 rows x 7 columns]

In [269]:
df.count()[0] #number of elements

1072

In [270]:
df['daytime'].value_counts() #

evening          508
afternoon        250
early evening    145
night            129
morning           35
early morning      5
Name: daytime, dtype: int64

In [1]:
df.sort_values(by=['hour', 'minute', 'second'], inplace=True)
df

NameError: name 'df' is not defined

In [272]:
print("max hour:", df['hour'].max())
print("min hour:", df['hour'].min())
print("mode of daytime is:", df['daytime'].mode())

max hour: 23
min hour: 0
mode of daytime is: 0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

In [273]:
print("max hour where daytime is night:", df[(df['daytime'] == 'night')]['hour'].max())
print("min hour where daytime is morning:", df[(df['daytime'] == 'morning')]['hour'].min())
print("Who visited the site at those hours:")
print(pd.DataFrame(df[(df['hour'] == 3) | (df['hour'] == 8)].index).drop_duplicates())
print("Mode of hour:", df['hour'].mode()[0])
print("Mode of daytime:", df['daytime'].mode()[0])

max hour where daytime is night: 3
min hour where daytime is morning: 8
Who visited the site at those hours:
         user
0  konstantin
3   alexander
Mode of hour: 22
Mode of daytime: evening

In [274]:
print(df.nsmallest(3 ,['hour'], keep='first')[['hour']])
print(df.nlargest(3 ,['hour'], keep='first')[['hour']])

           hour
user
valentina     0
valentina     0
pavel         0
           hour
user
ekaterina    23
ekaterina    23
ekaterina    23

In [275]:
print("Most popular interval of visiting the page:", df.describe()['hour'][4], '-', df.describe()['hour'][6])
iqr = df.describe()['hour'][6]- df.describe()['hour'][4]
print('iqr:', iqr)

Most popular interval of visiting the page: 13.0 - 22.0
iqr: 9.0