## create a connection to the database using the library sqlite3

In [30]:
import pandas as pd
import sqlite3

In [31]:
conn = sqlite3.connect('../ex00/data/checking-logs.sqlite.sqlite copy')

## using only one query for each of the groups, create two dataframes: test_results and control_results with the columns time and avg_diff and only two rows

In [65]:
test_results = pd.io.sql.read_sql("""
SELECT 'after' AS time, avg(tab2.after) AS avg_diff
FROM
    (SELECT uid,
            avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS before
    FROM (
            SELECT  test.*,
                    (
                        SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE test.labname = deadlines.labs
                    ) AS deadlines_labs
            FROM    test
            WHERE   labname NOT IN ('project1') AND
                    julianday(first_commit_ts) < julianday(first_view_ts))
    GROUP BY uid)
    AS      tab1
    INNER JOIN
    (
        SELECT  uid, after
        FROM
            (SELECT uid,
                    avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS after
            FROM (
                    SELECT  test.*,
                        (SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE test.labname = deadlines.labs) AS deadlines_labs
                    FROM    test
            WHERE
                labname NOT LIKE 'project1' AND
                julianday(first_commit_ts) >= julianday(first_view_ts))
            GROUP BY uid)
            ) tab2
ON  tab1.uid = tab2.uid
UNION
SELECT  'before' AS time, avg(tab1.before) AS avg_diff
FROM
    (SELECT uid,
            avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS before
    FROM (
            SELECT  test.*,
                    (
                        SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE test.labname = deadlines.labs
                    ) AS deadlines_labs
            FROM    test
            WHERE   labname NOT IN ('project1') AND
                    julianday(first_commit_ts) < julianday(first_view_ts))
    GROUP BY uid)
    AS      tab1
    INNER JOIN
    (
        SELECT  uid, after
        FROM
            (SELECT uid,
                    avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS after
            FROM (
                    SELECT  test.*,
                        (SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE test.labname = deadlines.labs) AS deadlines_labs
                    FROM    test
            WHERE
                labname NOT LIKE 'project1' AND
                julianday(first_commit_ts) >= julianday(first_view_ts))
            GROUP BY uid)
            ) tab2
ON  tab1.uid = tab2.uid
""", conn)
test_results

     time    avg_diff
0   after  100.178032
1  before   66.679398

In [58]:
control_results = pd.io.sql.read_sql("""
SELECT 'after' AS time, avg(tab2.after) AS avg_diff
FROM
    (SELECT uid,
            avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS before
    FROM (
            SELECT  control.*,
                    (
                        SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE control.labname = deadlines.labs
                    ) AS deadlines_labs
            FROM    control
            WHERE   labname NOT IN ('project1') AND
                    julianday(first_commit_ts) < julianday(first_view_ts))
    GROUP BY uid)
    AS      tab1
    INNER JOIN
    (
        SELECT  uid, after
        FROM
            (SELECT uid,
                    avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS after
            FROM (
                    SELECT  control.*,
                        (SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE control.labname = deadlines.labs) AS deadlines_labs
                    FROM    control
            WHERE
                labname NOT LIKE 'project1' AND
                julianday(first_commit_ts) >= julianday(first_view_ts))
            GROUP BY uid)
            ) tab2
ON  tab1.uid = tab2.uid
UNION
SELECT  'before' AS time, avg(tab1.before) AS avg_diff
FROM
    (SELECT uid,
            avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS before
    FROM (
            SELECT  control.*,
                    (
                        SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE control.labname = deadlines.labs
                    ) AS deadlines_labs
            FROM    control
            WHERE   labname NOT IN ('project1') AND
                    julianday(first_commit_ts) < julianday(first_view_ts))
    GROUP BY uid)
    AS      tab1
    INNER JOIN
    (
        SELECT  uid, after
        FROM
            (SELECT uid,
                    avg((julianday(deadlines_labs) - julianday(first_commit_ts)) * 24) AS after
            FROM (
                    SELECT  control.*,
                        (SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE control.labname = deadlines.labs) AS deadlines_labs
                    FROM    control
            WHERE
                labname NOT LIKE 'project1' AND
                julianday(first_commit_ts) >= julianday(first_view_ts))
            GROUP BY uid)
            ) tab2
ON  tab1.uid = tab2.uid
""", conn)
control_results

     time   avg_diff
0   after  99.803422
1  before  98.467698

In [ ]:
conn.close()

In [63]:
pd.io.sql.read_sql("""SELECT  test.*,
                    (
                        SELECT datetime(deadlines, 'unixepoch')
                        FROM deadlines
                        WHERE test.labname = deadlines.labs
                    ) AS deadlines_labs
            FROM    test""", conn)

,level_0,index,uid,labname,first_commit_ts,first_view_ts,deadlines_labs
0,3,3,user_17,project1,2020-04-18 07:56:45.408648,2020-04-18 10:56:55.833899,2020-05-16 23:59:59
1,4,4,user_30,laba04,2020-04-18 13:36:53.971502,2020-04-17 22:46:26.785035,2020-04-26 23:59:59
2,7,7,user_30,laba04s,2020-04-18 14:51:37.498399,2020-04-17 22:46:26.785035,2020-04-26 23:59:59
3,8,8,user_14,laba04,2020-04-18 15:14:00.312338,2020-04-18 10:53:52.623447,2020-04-26 23:59:59
4,11,11,user_14,laba04s,2020-04-18 22:30:30.247628,2020-04-18 10:53:52.623447,2020-04-26 23:59:59
5,18,18,user_19,laba04,2020-04-20 19:05:01.297780,2020-04-21 20:30:38.034966,2020-04-26 23:59:59
6,19,19,user_25,laba04,2020-04-20 19:16:50.673054,2020-05-09 23:54:54.260791,2020-04-26 23:59:59
7,20,20,user_21,laba04,2020-04-21 17:48:00.487806,2020-04-22 22:40:36.824081,2020-04-26 23:59:59
8,21,21,user_30,project1,2020-04-22 12:36:24.053518,2020-04-17 22:46:26.785035,2020-05-16 23:59:59
9,23,23,user_21,laba04s,2020-04-22 20:09:21.857747,2020-04-22 22:40:36.824081,2020-04-26 23:59:59
10,24,24,user_28,laba04,2020-04-22 21:47:19.707242,2020-05-10 21:07:50.350946,2020-04-26 23:59:59
11,27,27,user_17,laba04,2020-04-23 14:24:29.947554,2020-04-18 10:56:55.833899,2020-04-26 23:59:59
12,28,28,user_3,laba04,2020-04-23 20:29:14.054364,2020-05-08 10:53:47.123832,2020-04-26 23:59:59
13,29,29,user_3,laba04s,2020-04-23 20:40:26.883591,2020-05-08 10:53:47.123832,2020-04-26 23:59:59
14,33,33,user_10,laba04,2020-04-25 08:24:52.696624,2020-04-18 12:19:50.182714,2020-04-26 23:59:59
15,34,34,user_10,laba04s,2020-04-25 08:37:54.604222,2020-04-18 12:19:50.182714,2020-04-26 23:59:59
16,35,35,user_17,laba04s,2020-04-25 12:10:56.414175,2020-04-18 10:56:55.833899,2020-04-26 23:59:59
17,43,43,user_28,laba04s,2020-04-26 15:53:44.906136,2020-05-10 21:07:50.350946,2020-04-26 23:59:59
18,45,45,user_1,laba04,2020-04-26 17:06:18.462708,2020-04-26 21:53:59.624136,2020-04-26 23:59:59
19,46,46,user_1,laba04s,2020-04-26 17:12:11.843671,2020-04-26 21:53:59.624136,2020-04-26 23:59:59
20,48,48,user_18,laba04,2020-04-26 19:48:11.822365,2020-04-26 22:49:29.243278,2020-04-26 23:59:59
21,49,49,user_18,laba04s,2020-04-26 20:03:56.935458,2020-04-26 22:49:29.243278,2020-04-26 23:59:59
22,51,51,user_25,laba04s,2020-04-26 21:07:56.952117,2020-05-09 23:54:54.260791,2020-04-26 23:59:59
23,56,56,user_14,laba05,2020-04-30 11:33:04.523118,2020-04-18 10:53:52.623447,2020-05-03 23:59:59
24,59,59,user_3,laba05,2020-05-01 11:29:17.988118,2020-05-08 10:53:47.123832,2020-05-03 23:59:59
25,60,60,user_25,laba05,2020-05-01 13:02:27.357650,2020-05-09 23:54:54.260791,2020-05-03 23:59:59
26,62,62,user_28,laba05,2020-05-01 18:29:11.968537,2020-05-10 21:07:50.350946,2020-05-03 23:59:59
27,63,63,user_10,laba05,2020-05-01 19:27:26.063245,2020-04-18 12:19:50.182714,2020-05-03 23:59:59
28,64,64,user_30,laba05,2020-05-01 19:31:18.375833,2020-04-17 22:46:26.785035,2020-05-03 23:59:59
29,66,66,user_17,laba05,2020-05-02 13:21:24.045876,2020-04-18 10:56:55.833899,2020-05-03 23:59:59
30,68,68,user_21,laba05,2020-05-02 14:05:40.013959,2020-04-22 22:40:36.824081,2020-05-03 23:59:59
31,70,70,user_19,laba05,2020-05-02 15:16:13.586405,2020-04-21 20:30:38.034966,2020-05-03 23:59:59
32,72,72,user_1,laba05,2020-05-02 19:15:18.540185,2020-04-26 21:53:59.624136,2020-05-03 23:59:59
33,78,78,user_18,laba05,2020-05-03 13:01:34.848756,2020-04-26 22:49:29.243278,2020-05-03 23:59:59
34,85,85,user_14,project1,2020-05-05 21:35:43.554986,2020-04-18 10:53:52.623447,2020-05-16 23:59:59
35,87,87,user_3,project1,2020-05-07 21:02:52.885133,2020-05-08 10:53:47.123832,2020-05-16 23:59:59
36,88,88,user_25,project1,2020-05-08 11:10:28.100852,2020-05-09 23:54:54.260791,2020-05-16 23:59:59
37,90,90,user_21,project1,2020-05-10 15:21:05.442755,2020-04-22 22:40:36.824081,2020-05-16 23:59:59
38,91,91,user_18,project1,2020-05-11 10:10:04.166881,2020-04-26 22:49:29.243278,2020-05-16 23:59:59
39,96,96,user_28,project1,2020-05-12 14:42:19.166414,2020-05-10 21:07:50.350946,2020-05-16 23:59:59
40,98,98,user_10,project1,2020-05-12 20:12:28.056618,2020-04-18 12:19:50.182714,2020-05-16 23:59:59
41,101,101,user_19,project1,2020-05-14 10:33:45.495389,2020-04-21 20:30:38.034966,2020-05-16 23:59:59
42,106,106,user_1,project1,2020-05-14 20:56:08.898880,2020-04-26 21:53:59.624136,2020-05-16 23:59:59
43,110,110,user_3,laba06,2020-05-17 09:56:40.480319,2020-05-08 10:53:47.123832,2020-05-24 23:59:59
44,112,112,user_1,laba06,2020-05-17 16:26:35.268534,2020-04-26 21:53:59.624136,2020-05-24 23:59:59
45,113,113,user_28,laba06,2020-05-17 17:08:48.257050,2020-05-10 21:07:50.350946,2020-05-24 23:59:59
46,118,118,user_25,laba06,2020-05-18 17:07:47.988807,2020-05-09 23:54:54.260791,2020-05-24 23:59:59
47,124,124,user_3,laba06s,2020-05-19 08:42:50.851878,2020-05-08 10:53:47.123832,2020-05-24 23:59:59
48,127,127,user_19,laba06,2020-05-19 10:25:54.121465,2020-04-21 20:30:38.034966,2020-05-24 23:59:59
49,130,130,user_10,laba06,2020-05-19 11:39:28.885637,2020-04-18 12:19:50.182714,2020-05-24 23:59:59
50,133,133,user_30,laba06,2020-05-19 17:53:15.088248,2020-04-17 22:46:26.785035,2020-05-24 23:59:59
51,134,134,user_21,laba06,2020-05-19 19:30:14.644328,2020-04-22 22:40:36.824081,2020-05-24 23:59:59
52,135,135,user_10,laba06s,2020-05-20 07:37:31.175817,2020-04-18 12:19:50.182714,2020-05-24 23:59:59
53,136,136,user_1,laba06s,2020-05-20 12:23:37.289724,2020-04-26 21:53:59.624136,2020-05-24 23:59:59
54,137,137,user_25,laba06s,2020-05-20 14:02:26.512032,2020-05-09 23:54:54.260791,2020-05-24 23:59:59
55,139,139,user_28,laba06s,2020-05-20 20:42:44.423160,2020-05-10 21:07:50.350946,2020-05-24 23:59:59
56,142,142,user_19,laba06s,2020-05-21 13:27:06.705881,2020-04-21 20:30:38.034966,2020-05-24 23:59:59
57,144,144,user_17,laba06,2020-05-21 15:21:31.567615,2020-04-18 10:56:55.833899,2020-05-24 23:59:59
58,145,145,user_17,laba06s,2020-05-21 17:39:17.783615,2020-04-18 10:56:55.833899,2020-05-24 23:59:59